<div class="container">
  <form action="/record/new" method="POST">
    <div class="row align-items-center">
      <h6 class="col-3 ml-3">*必填欄位</h6>
      <h2 class="col-8 ml-4">請輸入你的支出</h2>
    </div>
    <div>
      <div class="input-group mt-4">
        <div class="input-group-prepend col-2">
          <div class="mt-1">名稱*：</div>
        </div>
        <input type="text" class="form-control col-8" placeholder="名稱" name="name" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mt-4">
        <div class="input-group-prepend col-2">
          <div class="mt-1">商家：</div>
        </div>
        <input type="text" class="form-control col-8" placeholder="商家" name="merchant" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
      <div class="input-group mt-4">
        <div class="input-group-prepend col-2">
          <div class="mt-1" type="date">日期*：</div>
        </div>
        <input type="date" class="form-control col-8" aria-label="Username" name="date" aria-describedby="basic-addon1" required>
      </div>
      <div class="input-group mt-4">
        <div class="input-group-prepend col-2">
          <div class="mt-1">類別*：</div>
        </div>
        <select class="custom-select col-8" id="inputGroupSelect01" name="category" required>
          <option selected>類別</option>
          <option value="household">家居物業</option>
          <option value="transport">交通出行</option>
          <option value="entertainment">休閒娛樂</option>
          <option value="meals">餐飲食品</option>
          <option value="others">其他</option>
        </select>
      </div>
      <div class="input-group mt-4">
        <div class="input-group-prepend col-2">
          <div class="mt-1">金額*：</div>
        </div>
        <input type="number" class="form-control col-8" placeholder="金額" name="amount" aria-label="Username"
          aria-describedby="basic-addon1" required>
      </div>
    </div>
    <div class="mt-4" style="text-align: center; text-align: end">
      <button class="btn btn-warning">新增支出</button>
      <a class="btn btn-success" href="/">返回</a>
    </div>
  </form>
</div>